<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Air Quality and Disease</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- CSS Scripts -->
    <link rel="stylesheet" href="d3Style.css">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Home/TITLE -->
        <a class="navbar-brand" href="/">AIR QUALITY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <!-- home -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- heatmap -->
                <li class="nav-item">
                    <a class="nav-link" href="/heatmap">See Current Air Quality</a>
                </li>
                <!-- Politicians -->
                <li class="nav-item">
                    <a class="nav-link" href="/politicians" tabindex="-1">Contact My Representatives</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Air Cleanliness</h1>
                <p>and Your Health</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <h5>SELECT Sample:</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sample MetaData</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="pie"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1> </h1>
                <h1> </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bubble"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="gauge"></div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>